/* Landing Page */
.landing {
  position: relative;
  background: url('../../images/nightmarket.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.x-large-land {
  font-family: 'Shrikhand', cursive;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #2d2d2d;
}

.hero-mark {
    color: var(--primary-color);
    background: none;
}

.hero-logo {
  width: 290px;
  height: 290px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .hero-logo {
    width: 200px;
    height: 200px;
    left: 57%;
    top: 23%;
  }
}
