.card {
    font-family: 'Poppins' sans-serif;
    border-radius: 18px;
    background: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition:  0.5s ease;
    cursor: pointer;
}

.card-text {
    margin: 25px;
}

.card-text .store-type {
    color: var(--primary-color);;
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px; 
}

.card-container:hover {
    transform:  scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }


.card-container {
    /* width: 300px; */
    width: 100%;
    margin: 15px 5px;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 1px #000;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .card-container {
        width: 70%;
    }
}

/* Tablet */

@media only screen and (min-width:601px) and (max-width:1099px) {
    .card-container {
        width: 40%;
    }
}

/* Desktop */

@media only screen and (min-width:1100px) {
    .card-container {
        width: 20%;
    }
}
