button{
    position: relative;
    top: 0;
    left: 3px;
    /* display: inline-block; */
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.4rem;
    margin-top: 10px;
    border-radius: 2px;
    /* box-shadow: inherit; */
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    cursor: pointer;
}
.CommentForm textarea{
    margin-top: 7px;
    border-radius: 4px;
    border: 1px solid;
}
