.SignUpForm .error{
    color:red;
    font-size: 0.8em;
    display: block;
    margin: 0px;
    padding: 0px;
}

.SignUpForm button:disabled{
    cursor: initial;
    background-color: silver;
}

.SignUpForm .label-tag{
    margin-bottom: 5px;
}

.SignUpForm #name,
.SignUpForm input[type='password ']{
    text-transform: none !important;
}