.SignUpPage .landing-inner{
    color: #fff;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    max-width: 600px;
    margin: 50px auto;
    width: 100%;
    display: block;
}
.SignUpPage .Backdrop{
    position: fixed;
    overflow: scroll;
}